<div id='sign-in-form' class='form-div'>
  <h3>Log In</h3>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>
    <%= f.submit "Done", remote: true, id: 'sign-in-button', class: 'submit-button' %>
  <% end %>
  <%= link_to "Go Back", root_path, class: 'button' %>
</div>  